body{
margin:0;
font-family:Tajawal,Arial;
background:black;
color:white;
overflow:hidden;
}

.bg{
position:fixed;
width:100%;
height:100%;
background:url("assets/bg.jpg") center/cover;
filter:brightness(.35);
}

header{
display:flex;
justify-content:space-between;
padding:50px;
}

#mosqueName{
font-size:40px;
font-weight:bold;
}

#zekr{
font-size:42px;
background:rgba(0,0,0,.6);
padding:20px 40px;
border-radius:15px;
}

.clock{
text-align:left;
}

#time{
font-size:90px;
font-weight:bold;
}

#date,#hijri{
font-size:26px;
}

.prayers{
position:absolute;
bottom:60px;
width:100%;
display:flex;
justify-content:center;
gap:20px;
}

.prayer{
background:rgba(0,0,0,.75);
padding:25px 35px;
border-radius:14px;
text-align:center;
font-size:26px;
}

.active{
background:gold;
color:black;
transform:scale(1.15);
}

.countdown{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:170px;
font-weight:bold;
color:gold;
}

.hidden{
display:none;
}
